.author_widget {
	max-width: 100%;
}
.author-img {
	width: 100%;
	max-width: 10rem;
	max-height: 10rem;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	margin:auto;
	img {margin: 0;}
}
.author-name {
	font-size: 0.8rem;
	text-align: center;
	margin: 0;
	padding: 0;
}
.author-bio {
	font-style: italic;
	font-size: 0.8rem;
	text-align: center;
}
