.light{
background: -moz-linear-gradient(-45deg,  #ee3b33 0%, #ee3b33 40%, #ffffff 50%, #ee3b33 60%, #ee3b33 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ee3b33), color-stop(40%,#ee3b33), color-stop(50%,#ffffff), color-stop(60%,#ee3b33), color-stop(100%,#ee3b33));
background: -webkit-linear-gradient(-45deg,  #ee3b33 0%,#ee3b33 40%,#ffffff 50%,#ee3b33 60%,#ee3b33 100%);
background: -o-linear-gradient(-45deg,  #ee3b33 0%,#ee3b33 40%,#ffffff 50%,#ee3b33 60%,#ee3b33 100%);
background: -ms-linear-gradient(-45deg,  #ee3b33 0%,#ee3b33 40%,#ffffff 50%,#ee3b33 60%,#ee3b33 100%);
background: linear-gradient(135deg,  #ee3b33 0%,#ee3b33 40%,#ffffff 50%,#ee3b33 60%,#ee3b33 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3b33', endColorstr='#ee3b33',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
  animation:light 1s;
    -webkit-animation:light 1s;
  
}
@keyframes light {
  0% {
        background-position:-600px; 
  }
  100% { 
        background-position:0px; 
  }
}
        
@-webkit-keyframes light {
  0% {
        background-position:-600px; 
  }
  100% { 
        background-position:0px; 
  }
}