.woocommerce-checkout {
    #main {
      > .wrapper {
          margin:0;
          max-width: 100% !important;
          padding:0;
  
      }
      
    }
    
    .banner {
      height: auto;
      background: #ffc420;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);    
      
      h1 {
        margin: 0;
        font-weight: 400;
        font-size: 2rem;      
      }
    }
    
    .wrapper {
      .wrapper {
       display: flex;
       flex-direction: column;
       justify-content: center;      
      }  
    }
    
    input {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR…jMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 16px 18px;
        background-position: 98% 50%;
        cursor: auto;    
    }
    
  input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
      font-size: inherit;
      font-family: inherit;
      padding: 5px 4px;
      letter-spacing: normal;
    }
    
    .woocommerce {
      form {
        .form-row {
          label {
            margin: 1px 0 9px 1px;
            font-size: .813em;
            letter-spacing: .5pt;
            white-space: nowrap;
          }
          
          .select2-selection {
            height: 38px !important;
          }
          
        } 
        
        #billing_postcode_field,
        #billing_phone_field{
          clear:both;
        }
        
        button.button.alt {
          width: 50% !important;
          border: none;
          margin: 0;
          text-align: center;
          background: #ee3b33;
          padding: 1rem;
          color: #fff;
          font-size: 1rem;
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        
        #place_order {
          float: left !important;
          margin-left: 1rem;        
        }
        
        .col-2 {
          @media (max-width: 768px) {
             margin-top: 1rem !important;
          }  
          
        }
      }
      
      .package {
          background: #f5f5f5;
          height: auto;
          padding: 1rem;
          width: 100%;
        
        h2 {
          font-size: 2.25rem;
          margin: 0;
          font-weight: 400;
        }
        
         h3 {
           span {
             color: #ee3b33;
             font-size: 1.5rem;
           }
  
         }
        
        .features {
            display: flex;
            flex-direction: column;
          
          .feature {
              display: flex;
              align-items: center;
              align-content: center;
              height: 2.5rem;
            
            .check {
              width: 1.25rem;
              height: auto;
              margin-right: 1rem;
              fill: #4CAF50;            
            }
            
          }
         }
        
      }
      
    }   
    
    .woocommerce-checkout-review-order-table {
      border: 0 !important;
      width: 50% !important;
      
      @media (max-width: 768px) {
         width: 100% !important;
      }  
      
      .product-name__monthly_label {
        span {
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
      
      .product-name__monthly_cost {
        .price {
           color: #900;    
        }
      }
      
      .order-total {
        .order-total__value {
          text-align: right;
          span {
            color: #060;          
          }
        }
      }
      
      
      .recurring-total {
        > td {
          color: #900;
          text-align: right;
          
          .first-payment-date {
            color: #060;          
          }
        }
      }
      
    }
  
    #payment {
      background-color: initial;
      border-radius: 0px;
      width: 50%;
      outline: 1px solid rgba(0,0,0,.1);
      
      @media (max-width: 768px) {
         width: 100% !important;
      }  
      
      
      .wc_payment_methods {
        border-bottom: 0 !important;
        padding-bottom: 0 !important;
        
        .woocommerce-notice {
          background-color: initial;
          font-size: .813em;        
        }
      }
      
      .payment_box {
        background-color: initial !important;
        padding:0 !important;
        
        &:before {
          display:none !important;
        }
        
        #stripe-payment-data {
          > p {
            font-size: .813em;
            padding: 0 1rem;
          }
          
          #wc-stripe-cc-form {
            .form-row {
              margin-bottom: 0;
            }
          }
        }      
      }
      
      .place-order {
        padding-top: 0px !important;
      }
      
    }
  }