//HERO
.hero {
	height: 844px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-position: center center;
	background-size: cover;
	@include breakpoint($small){background-position: left bottom;height: auto;}
}

.hero-content {
	position: relative;
	width: 100%;
	margin: auto;
	max-width: 1200px;
	padding: 0 1rem;
	@include breakpoint($small){width:auto;max-width: 100%;}
	h1 {
		font-family: "Raleway";
		font-weight: 400;
		color: #505a68;
		@include breakpoint($small){font-size: 2rem;max-width: 100%;text-align: center}
		}
	p {
		color: $white;
		@include breakpoint($small){text-align: center;}
		&:first-of-type {font-family: "Vollkorn";font-style: italic;letter-spacing: 0.15rem;font-size: 1.2rem;font-weight: 300;}
		&:last-of-type {font-family: "Karla";letter-spacing: 0.15rem;font-size: 1rem;font-weight: 400;display: flex;flex-wrap: wrap;}
		
	}
	a {font-family: "Karla";letter-spacing: 0.15rem;font-size: 1rem;font-weight: 400;color: $white;margin-left: 0.5rem;
		@include breakpoint($small){margin-left: 0;}
	}
}

//FEATURES
.info-blocks {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-bottom: 2.5rem;
	@include breakpoint($small){
		flex-direction: column;
	}
	.block {
		width: 30%;
		margin: 1rem auto;
		@include breakpoint($small){
			width: 100%;
			height: auto;
		}
	.img {
		width: auto;
		height: 275px;
		@include breakpoint($small){min-height: 275px;}
		max-width: 30rem;
		margin: 1rem auto;
		border-radius: 0.25rem;
	}
	h3 {
		font-family: "Raleway";
		font-weight: 600;
		font-size: 1rem;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		color: $blue3;
	}
	p {
		font-family: "Karla";
		font-size: 0.8rem;
		padding-right: 1rem;
		color: $dark;
	}
}
}

//STORY SECTION
.story {
	position: relative;
	background: #edf4f8;
}
.story-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
		p {color: #97a0ae;width: 60%;margin: 0.5rem auto;text-align: center;
			@include breakpoint($small){width: 100%;}
		}

	.story-header {
	text-align: center;
	margin: 2.5rem 0;
	h2 {color: #505a68;font-family: "Raleway";font-weight: 900;font-size: 2rem;margin-bottom: 1rem;text-transform: uppercase;}
	span {font-family: "Vollkorn"; font-style: italic;color: #97a0ae;font-size: 1.25rem;}
	}
}
.story-img {
	width: 100%;
	height: 600px;
	display: block;
	border-radius: 0.25rem;
}

.stat-blocks {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	text-align: center;
	margin: 2.5rem auto;
	@include breakpoint($small){width: 100%;justify-content: center;flex-direction: column;}
	img {margin: auto;display: block;}
	h3 {font-size: 2.5rem;font-family:"Karla";font-weight: 700;margin: 0.25rem auto;color: #505a68;}
	p {font-family: "Vollkorn";font-style: italic;padding: 0;margin-top: 0;color: #97a0ae;font-weight:400;font-size: 0.9rem;}
}

//ABOUT SECTION
.about-blocks {
	display: flex;
	flex-direction: column;
	max-width: 880px;
	margin:2.5rem auto;
.about-block {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin: 1rem 0;
	padding-bottom: 2rem;
	border-bottom: 2px solid #edf4f8;
	@include even() {
		flex-direction: row-reverse;
		@include breakpoint($small){flex-direction: column;}
	}
	.content {max-width: 555px;}
	@include breakpoint($small){flex-direction: column;}
}
}

//CALL TO ACTION SECTION
.call-to-action {
	position: relative;
	background: $blue2;
	height: 200px;
.wrapper {height: 100%;}
.cta-wrap {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
}
h2 {color: $white;margin: 0;padding: 0;font-size: 2rem;}
}


//REVIEWS SECTION
.reviews-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	.reviews-header {
	text-align: center;
	margin-top: 2.5rem;
	h2 {color: #505a68;font-family: "Raleway";font-weight: 900;font-size: 2rem;margin-bottom: 1rem;}
	span {font-family: "Vollkorn"; font-style: italic;color: #97a0ae;}
	}
}
.review-blocks {
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;
	flex-wrap: wrap;
	
.review-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top:2.5rem;
	width: 45%;
	@include breakpoint($small){width: 100%;}
	.stars span {
		color: $blue2;
	}
	.quote {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		p {font-size: 0.9rem;margin-top: 0;min-height: 100px;}
	}
	.person {
	h5 {font-family: "Raleway";font-weight: 700;margin: auto;color: #505a68;font-size: 1rem;margin-bottom: 0.25rem;}
	span {font-family: "Karla";color: #97a0ae;font-size: 0.8rem;}
	}
}
}

//QUOTE BUTTON
.quote-button {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	margin-top: -1.35rem;
	.btn {background: $blue2;color: $white;}
}
.quote-button.second {
	margin-top: -3.75rem;
}
.quote-button.third {
	.btn {background: $white;color: $blue2;}
}