//MAIN MENU

.main-menu {
position: relative;
display: flex;
list-style: none;
justify-content: space-around;
margin: 0;
padding: 0;
li {	
	margin: 0 1rem;
	white-space: nowrap;
	&:last-of-type {margin-right: 0;}
	a {text-decoration: none;white-space: nowrap;}
}
@include breakpoint($small){display: none;}
}

.sub-menu {
	display: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	top: 100%;
	padding-top: auto;
	width: auto;
	@include boxShadow(1);
	li {width:auto;padding: 0.25rem 0.5rem;transition: all 0.7s ease;margin: 0;	white-space: nowrap;
}
	@include breakpoint($small){position: relative;box-shadow: none;}
}
.menu-item-has-children {
	&:after{
	color: inherit;
	content: "\f0d7";
    font-family: FontAwesome;
    @include breakpoint($small){
	position: absolute;
	right: 0;
	top: 0;
    }
	}
}
.menu-item-has-children:hover > .sub-menu {
	display: block;
}
//MOBILE MENU
	
.mobile-nav li {
	 position: relative;
		white-space: nowrap;
		margin-bottom: 0.5rem;
}
.mobile-menu {
	display: none;
	width: 100%;
	z-index: 9999;
	background: $white;
	position: absolute;
	top: 7rem;
	@include boxShadow(2);
	}
.mobile-nav {
	position: static;
	list-style: none;
	margin: 0 1rem;
	z-index: 10;
	padding: 0;
	display: flex;
	height: auto;
	padding: 1rem;
	flex-direction: column;
	width: auto;
}
.nav-toggle {float: right;}




//HAMBURGER
.hamburger {
	width: auto;
	display: none;
	@include breakpoint($small){display: block;margin: 0;}
}
.nav-toggle {
	display: none;
}
.nav-toggle {
  z-index: 1;
  width: auto;
  height: auto;
  border: none;
  background: none;
  -webkit-appearence: none;
  padding: 0;
}
.nav-toggle:focus, .nav-toggle:active {
  outline: none;
}
.nav-toggle .nav-label {
  opacity: 1;
  float: left;
  display: none;
  font-size: 14px;
  text-transform: uppercase;
}
.nav-toggle.nav-open .nav-svg .dots {
  left: 24px;
  opacity: 0;
  background: rgba(255, 255, 255, 0);
  -webkit-animation: showDots .2s .2s forwards;
          animation: showDots .2s .2s forwards;
}
.nav-toggle.nav-open .nav-svg .dots:before {
  -webkit-animation: toCloseDotsTop .6s .2s forwards;
          animation: toCloseDotsTop .6s .2s forwards;
}
.nav-toggle.nav-open .nav-svg .dots:after {
  -webkit-animation: toCloseDotsBottom .6s .2s forwards;
          animation: toCloseDotsBottom .6s .2s forwards;
}
.nav-toggle.nav-open .nav-svg path.x {
  transition: .2s .2s ease-in-out;
  transform: rotate(45deg) translate(-24%, 80px) scaleX(0.7);
}
.nav-toggle.nav-open .nav-svg path.x:first-of-type {
  transform: rotate(-45deg) translate(-24%, -80px) scaleX(0.7);
}
.nav-toggle.nav-open .nav-svg path.yy {
  stroke-dashoffset: -1200;
  transition: .25s 0s ease-in-out;
}
.nav-toggle .nav-svg {
  display: inline-block;
  transform: translate(-1px, 2px);
}
.nav-toggle .nav-svg .dots {
  top: 24px;
  left: 10px;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  transition: background .25s ease-out, left .25s ease-out;
}
.nav-toggle .nav-svg .dots:before, .nav-toggle .nav-svg .dots:after {
  left: 0;
  opacity: 1;
  width: 2px;
  content: '';
  height: 2px;
  border-radius: 1px;
  position: absolute;
  background: inherit;
}
.nav-toggle .nav-svg .dots:before {
  top: -7px;
}
.nav-toggle .nav-svg .dots:after {
  top: 7px;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}
.nav-toggle .nav-svg path {
  stroke-width: 70;
}
.nav-toggle .nav-svg path.x {
  transition: .25s 0s ease-in-out;
  transform-origin: right center;
  transform: rotate(0deg) translateX(0px);
}
.nav-toggle .nav-svg path.yy {
  stroke-dashoffset: 1700;
  stroke-dasharray: 2520 3000;
  transition: .2s .2s ease-in-out;
}

@-webkit-keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes toCloseDotsBottom {
  from, 40%, 75%, to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
            transform: translate3d(0, 0, 0);
  }
  40% {
            transform: translate3d(0, 5px, 0);
  }
  75% {
            transform: translate3d(0, -3px, 0);
  }
  to {
            transform: none;
  }
}
@keyframes toCloseDotsBottom {
  from, 40%, 75%, to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
            transform: translate3d(0, 0, 0);
  }
  40% {
            transform: translate3d(0, 5px, 0);
  }
  75% {
            transform: translate3d(0, -3px, 0);
  }
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes toCloseDotsTop {
  from, 40%, 75%, to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
            transform: translate3d(0, 0, 0);
  }
  40% {
            transform: translate3d(0, -5px, 0);
  }
  75% {
            transform: translate3d(0, 3px, 0);
  }
  to {
            transform: none;
  }
}
@keyframes toCloseDotsTop {
  from, 40%, 75%, to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
            transform: translate3d(0, 0, 0);
  }
  40% {
            transform: translate3d(0, -5px, 0);
  }
  75% {
            transform: translate3d(0, 3px, 0);
  }
  to {
            transform: none;
  }
}